#anyButton {
    -fx-background-color: #dfdfdf;
    -fx-font-size: 25;
    -fx-text-fill: #202020;
    -fx-background-radius: 10px 0px 0px 10px;
    -fx-pref-width: 150px;
}

#newButton {
    -fx-background-color: #dfdfdf;
    -fx-font-size: 25;
    -fx-text-fill: #202020;
    -fx-background-radius: 0px 0px 0px 0px;
    -fx-pref-width: 150px;
}

#usedButton {
    -fx-background-color: #dfdfdf;
    -fx-font-size: 25;
    -fx-text-fill: #202020;
    -fx-background-radius: 0px 10px 10px 0px;
    -fx-pref-width: 150px;
}

#anyButton:hover,
#newButton:hover,
#usedButton:hover {
    -fx-background-color: #e9e9e9;
    -fx-text-fill: #202020;
}

#anyButton:selected,
#newButton:selected,
#usedButton:selected {
    -fx-background-color: #373373;
    -fx-text-fill: #dfdfdf;  
}

#anyButton:pressed,
#newButton:pressed,
#usedButton:pressed {
    -fx-background-color: #bfbfbf;
    -fx-text-fill: #202020;
}

#priceBox {
    -fx-pref-height: 40px;
    -fx-pref-width: 120px;
    -fx-font-size: 25;
}

#toLabel {
    -fx-font-size: 25;
    -fx-padding: 15px;
}

#locationBox {
    -fx-font-size: 25;
    -fx-pref-width: 450px;
}

#bodyButtonTL {
    -fx-background-color: #dfdfdf;
    -fx-font-size: 18;
    -fx-text-fill: #202020;
    -fx-background-radius: 10px 0px 0px 0px;
    -fx-pref-width: 150px;
    -fx-pref-height: 40px;
}
#bodyButtonTR {
    -fx-background-color: #dfdfdf;
    -fx-font-size: 18;
    -fx-text-fill: #202020;
    -fx-background-radius: 0px 10px 0px 0px;
    -fx-pref-width: 150px;
    -fx-pref-height: 40px;
}
#bodyButtonBL {
    -fx-background-color: #dfdfdf;
    -fx-font-size: 18;
    -fx-text-fill: #202020;
    -fx-background-radius: 0px 0px 0px 10px;
    -fx-pref-width: 150px;
    -fx-pref-height: 40px;
}
#bodyButtonBR {
    -fx-background-color: #dfdfdf;
    -fx-font-size: 18;
    -fx-text-fill: #202020;
    -fx-background-radius: 0px 0px 10px 0px;
    -fx-pref-width: 150px;
    -fx-pref-height: 40px;
}
#bodyButton {
    -fx-background-color: #dfdfdf;
    -fx-font-size: 18;
    -fx-text-fill: #202020;
    -fx-background-radius: 0px 0px 0px 0px;
    -fx-pref-width: 150px;
    -fx-pref-height: 40px;
}

#bodyButtonTL:hover,
#bodyButtonTR:hover,
#bodyButtonBL:hover,
#bodyButtonBR:hover,
#bodyButton:hover {
    -fx-background-color: #e9e9e9;
    -fx-text-fill: #202020;
}

#bodyButtonTL:selected,
#bodyButtonTR:selected,
#bodyButtonBL:selected,
#bodyButtonBR:selected,
#bodyButton:selected {
    -fx-background-color: #373373;
    -fx-text-fill: #dfdfdf;  
}

#bodyButtonTL:pressed,
#bodyButtonTR:pressed,
#bodyButtonBL:pressed,
#bodyButtonBR:pressed,
#bodyButton:pressed {
    -fx-background-color: #bfbfbf;
    -fx-text-fill: #202020;
}

#searchButton {
    -fx-pref-width: 400px;
    -fx-font-size: 40px;
    -fx-background-color: #373373;
    -fx-text-fill: #dfdfdf;
    -fx-background-radius: 20px;
}

#searchButton:hover {
    -fx-background-color: #2B2759;
}

#searchButton:pressed {
    -fx-background-color: #181633;
}